.side_bar
  .side_header
    .side_header__box
      %p.side_header__box__name
        masa
      %ul.side_header__box__menu
        %li.side_header__box__menu__icon
          =link_to "#",class:"side_header__box__menu__icon__edit" do
            %i.fas.fa-edit
        %li.side_header__box__menu__icon    
          =link_to "#",class:"side_header__box__menu__icon__cog" do
            %i.fas.fa-cog

  .groups
    .groups__group
      %p.grops__group__name
        techcamp
      %p.groups__group__messages
        まだメッセージはありません
      %p.grops__group__name
        techcamp
      %p.groups__group__messages
        まだメッセージはありません

